.container{
  width: 1425px;
  padding: 0px;
  margin: auto;
  font-family: Arial;
}
.main{
  width: 1000px;
  height: 655px;
  margin: 0px 212.5px;
  display: flex;
  justify-content: center;
}
.authBody{
  width: 800px;
  height: 655px;
}
.authHeader{
  width: 800px;
  height: 96px;
  background-color: white;
  margin-bottom: 15px;
}
.logo-tabs{
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  margin-bottom: 15px;
}
.logo{
  width: 103px;
  height: 40px;
  background-image: url("../img/mint_logo.png");
  background-repeat: no-repeat;
  background-position: -10 -200;

}
.tabs{
  height: 35px;
}
.tabs ul li{
  display: inline-block;
  padding: 0px 10px;
  margin: 0px;
}
.tabs ul li:nth-child(2){
  font-weight: bold;
}
.tabs ul li a{
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 15px;
  -webkit-font-smoothing: subpixel-antialiased
}
/*.tabs ul li span{
  height
}*/
.tabs ul li:nth-child(2){
  border-left: 1px solid rgb(211, 211, 211);
  height: 17px;
}
.signup-body{
  width: 700px;
  height: 445px;
  background-color: rgb(255, 255, 255);
  padding: 43px 50px 50px 52px;
  border-color: rgb(51, 51, 51);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 8px 0px;
  display: flex;
  justify-content: space-between;

}
.r-clmn{
  width:185px;
  height: 400px;
  border-left: 1px solid rgb(211, 211, 211);
  padding-left: 15px;
}
.space{
  width: 200px;
  height: 39px;
}
.space a{
  text-decoration: none;
  color: rgb(69, 202, 230);
  font-size: 12px;
  line-height: 18px;
}
.space h4{
  color: rgb(85, 85, 85);
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: auto;
}
#signup-div{
  margin-bottom: 20px;
}
.l-clmn{
  width: 400px;
  height: 451px;
}
.h-sign{
  width: 398px;
  height: 89px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#top-header{
  width: 398px;
  height: 45px;
  font-size: 30px;
}
#sub-header{
  width: 398px;
  height: 16px;
  padding: 5 0 0 20px;
  color: rgb(102, 102, 102);
  font-size: 13px;
}
#sub-header a{
  text-decoration: none;
  color: rgb(69, 202, 230);
}
form{
  font-size: 13px;
  width: 398px;
  height: 355px;
}
.email{
  height: 95px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.pass{
  height: 86px;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}
.lbl{
  line-height: 21px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
  color: rgb(102, 102, 102);
}
input[type="email"]:not(:focus){
  height: 28px;
  width: 314px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 5px;
}
input[type="email"]:focus{
  height: 28px;
  width: 314px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 5px;
}
.rem{
  width: 398px;
  height: 31px;
  padding-bottom: 30px;
  font-size: 13px;
  color: rgb(102, 102, 102);
}


/*checkboxes in CSS - biaaaach to make*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 27px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: -1px;
  width: 17px;
  height: 17px;
  border: 1px solid #d8d8d8;
  background: #f8f8f8;
  border-radius: 3px;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after{
  content: '✔';
  position: absolute;
  font-size: 18px;
  line-height: 0.8;
  color: #2C4D9C;
  transition: all .2s;
  top:2px;
  left: 3px;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:not(:checked):hover + label:before{
  content: '✔';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 18px;
  line-height: 0.8;
  color: lightgray;
  width: 17px;
  height: 17px;
  border: 1px solid #d8d8d8;
  background: #f8f8f8;
  border-radius: 3px;
  top:-1px;
  left: 0px;
}



#log{
  display: flex;
  align-items: center;
  width: 46px;
  height: 34px;
  padding: 0px 20px;
  border-width: 0px;
  background-color: rgb(69, 202, 230);
  border-radius: 2px;
}
#log a{
  text-decoration: none;
  color: white;
  font-size: 13px;
}
#terms-area{
  height: 18px;
  font-size: 12px;
  padding-top: 12px;
  color: rgb(125, 127, 128);
  padding-bottom: 6px;
}
#terms-area a{
  text-decoration: none;
  color: rgb(69, 202, 230);
}
footer{
  height: 140px;
  padding-top: 40px;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.top-links{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(51, 51, 51);
}
.top-links a{
  position: relative;
  color: rgb(165, 165, 165);
  text-decoration: none;
  padding-right: 10px;
  font-size: 14px;
  height: 17px;
  padding: 0 2%;
}
.top-links a::after{
    content:"";
    position: absolute;
    top: 5px;
    left: 7px;
    right: 8px;
    height: 10px;
    border-right: 1px solid rgb(165, 165, 165);
    z-index: -1;
}
.top-links a:nth-child(5)::after{
  border-right: 1px solid white;
}
.mid-links{
  display: flex;
  justify-content: center;
  height: 58px;
  margin: 25px 0;
}
.mid-links img{
  width: 140px;
  height: 58px;
}
p {
  display: flex;
  justify-content: center;
  font-size: 11px;
  margin: auto;
  height: 15px;
  color: rgb(165, 165, 165);
}
p span{
  padding: 0 5px;
}
